@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Mono:400,500,700&display=swap");

* {
  transition: 0.5s ease;
  font-family: "noto sans mono";
}

html,
body,
.viewport {
  height: 100%;
  background: #22272e;
  width: 100%;
  margin: 0;
}

.body {
  border: 1px solid red;
  width: 762px;
  min-height: 100px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-top: 20px;
}

.body h1 {
  font-size: 18px;
  color: #8792a2;
  font-weight: 400;
  margin-bottom: 20px;
}
